body {
    text-align: center;
}
#img_div {
    width: fit-content;
    height: fit-content;
}
#img_tag {
  width: 620px;
  height: 636px;
}
#main_div {
    background-color: aqua;
    text-align: center;
    border-style: double;
    width: 100%;
    height: 100%;

}
#login_head {
    
    font-family: monospace;
}
#username_head {
    
    font-family: 'Times New Roman', Times, serif;
}
#user_input {
    width: 400px;
    background-color: gold;
    margin-left: 820px;
}
#login_button {
      background-color: goldenrod;
      width: 200px;
      /* margin-left: 850px; */
}